*{
    font-family: 'Cantata One', serif;
}
li{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
.louis{
    padding-top: 6px;
    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.31em;
    color: #000000;
    mix-blend-mode: normal;
    display: flex;
    justify-content: center;
}
.designerweb{
    height: 19px;
    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.31em;
    color: #000000;
    mix-blend-mode: normal;
    display: flex;
    justify-content: center;
}
nav.logo{
    display: flex;
    justify-content: center;
}
section{
    display: block;
    height: 98vh;
    width: 98vw;
}
.choix{
    display: flex;
    justify-content: center;
}
.elMenu{
    width: 183px;
    height: 19px;
    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    padding-top: 125px;
    text-align: center;
    letter-spacing: 0.31em;
    
    color: #000000;
    
    mix-blend-mode: normal;
}
a.presentation:hover, a.competences:hover ,a.passion:hover ,a.contact:hover{
    letter-spacing: 1.3em;
    display: flex;
    justify-content: center;
    transition-duration: 0.4s;
}
.titreNav{
    letter-spacing: 1.3em;
    display: flex;
    justify-content: center;
    color: #000000;
}
.maison{
    float: left;
    font-size: 20px;
}
.navTitre{
    padding-top: 61px;
}
.txtAbout{
    padding-top: 10px;
    position: absolute;
    width: 675px;
    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.31em;
    color: #000000;
}
.aboutme{
    position: absolute;
    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 83px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 1.3em;
    
    color: rgba(196, 196, 196, 0.3);
    
    mix-blend-mode: normal;
}
.positionAbout{
    padding-top: 300px;
    display: flex;
    justify-content: center;
}
.soustitreNav{
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.3em;
    color: #000000;
    padding-top: 11px;
    mix-blend-mode: normal;
}
.grille{
    max-width: 1300px;
    height: auto;
    margin: 60px auto;
    display: grid;
    grid: repeat(2, 300px) / auto-flow 350px;
    grid-gap: 76px;
    justify-content: center;
}
.grid-item{
    width: 300px;
    height: 250px;
    background-color: beige;
}
.container{
    padding: 25px;
    display: flex;
    margin: 3% auto;
    width: auto;
    height: 80%;
    flex-direction: column;
    justify-content: center;
}
.titreBloc{
    font-size: 18px;
    letter-spacing: 1.3em;
    color: #000000;
    padding-bottom: 10px;
}
.dev{
    display: flex;
    height: 30%;
    width: 60%;
    flex-direction: column;
    align-content: flex-start;
}
.colab{
    display: flex;
    height: 30%;
    width: auto;
    flex-direction: column;
    align-items: flex-end;
}
.Bloc{
    width: 80%;
    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgb(88 88 88);
}
.BlocCollab{
    width: 42%;
    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgb(88 88 88);
}
.sport{
    display: flex;
    height: 30%;
    width: 60%;
    flex-direction: column;
    align-content: flex-start;
}


.txtContact{
    height: 50%;
    width: 50%;
    display: flex;
    font-size: 21px;
    letter-spacing: 1.3em;
    color: rgb(0, 0, 0);
    justify-content: center;
    margin: 20% auto;
}
.txtContact:hover{
    background-color: rgb(201, 193, 193);
    transition: 2s;
    border-radius: 5px;
}